# Config + Engine Files
.DS_Store
/settings.xml
.settings/
.engine/
grapher/**

# Test Results
tests/results/**

# Dependencies
system/modules/**

# Build Process
WEB-INF
build/build.number
.artifacts
.tmp

# Harness Testers
bx/testbox
bx/grapher
cfml/testbox
tests/coverageReport.json
