# Config Files
.DS_Store
/settings.xml
.project
.settings/
.vscode
cpu.json

# Test Results
tests/results
tests/results-mb

# Build Process
WEB-INF
build/build.number
artifacts
apidocs/docbox
build-testbox/*