/* Overriden Styles */
$theme-colors: (
    "primary":    #3A9ABF,
    "secondary":  #6C757D,
    "success":    #75CC39,
    //"info":       $info,
    "warning":    #FDC02E,
    "danger":     #D93749,
    //"light":      $light,
    //"dark":       $dark
);

$list-group-item-padding-y:         .25rem;
$list-group-item-padding-x:         .5rem;

$headings-margin-bottom:            0;

@import "node_modules/bootstrap/scss/bootstrap";

/* Custom Styles */

.list-group-item {
  border: none;
  padding: 0 0 0 .5rem;

}

.card-header, .card-body  {
  padding: 0.25rem;
}

.accordion > .card .card-header {
  margin-bottom: 0;
}

.list-group-item:first-child {
  border-radius: 0;
}

.table th, .table td {
  padding: 0.25rem;
}

code {
  color: black !important;
}